aiofiles
aiohttp
anyio
bcrypt
boto3
certifi
cryptography
dnspython
email-validator
fastapi
google-generativeai
httpx
jinja2
litellm
motor
openai
pandas
passlib
pillow
pymongo
python-dotenv
python-jose
python-multipart
redis
requests
spotipy
stripe
uvicorn
pydantic
PyJWT
mutagen
